In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [ ]:
# Reading data.
df = pd.read_csv("historical_data.csv")

In [3]:
# Checking summary.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB

### Cleaning

Before any data analysis/visualization is done, I need to clean the dataset.  Looking for outlier values using describe().

**Note**: This dataset was made available on Stratascratch, so I am unable to inquire further about outliers.

In [4]:
df.describe().loc[["min", "max"]]

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
min,1.0,1.0,1.0,1.0,0.0,1.0,-86.0,0.0,-4.0,-5.0,-6.0,0.0,0.0
max,6.0,6987.0,7.0,411.0,27100.0,20.0,14700.0,14700.0,171.0,154.0,285.0,2715.0,2088.0

`min_item_price`:
- The minimum value of this column is -86, which is confusing.
    - Project description explain that `min_item_price` is the lowest valued item in an order (in cents).

`total_onshift_dashers`:
- The minimum value of `total_onshift_dashers` is -4, unsure if this is meaningful.
    - Project description explains that this column represents the total sum of dashers (within 10 miles) regardless of 
    - Project description for this column are also somewhat ambiguous, I initially assumed this column represented dashers that were available (as in not working an order).
    - The term "available dashers" is confusing, maybe "online" would be better fitting?

`total_busy_dashers`:
- The minimum value of `total_busy_dashers` is -5, unsure if this is meaningful.
    - Project description explains that this column is a subset of `total_onshift_dashers`.
    - Represents # of dashers that are currently working on an order (within 10 miles) during order creation.

`total_outstanding_orders`:
- The minimum value of `total_outstanding_orders` is -6, unsure if this is meangingful.
    - Project description explains that this column represents the # of orders that are currently being processed (within 10 miles).

In [5]:
# Moving all nulls to its own dataframe.
df_nulls = df[df.isna().any(axis=1)]

In [6]:
df_nulls.to_csv("null_rows.csv", index=False)

There are 39,248 instances where `total_busy_dashers` > `total_onshift_dashers` which is confusing.  By the definition of subset, the # of `total_busy_dashers` cannot be greater than `total_onshift_dashers` as the latter represents the total sum of dashers regardless of status (given that they are at least online).

I'll move these instances in a separate dataframe and drop from `df`.

In [42]:
# Checking instances where total_busy_dashers is greater than total_onshift_dashers.
df[df["total_busy_dashers"] > df["total_onshift_dashers"]]

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
14,1.0,2015-02-12 03:36:46,2015-02-12 04:14:39,2841,italian,1.0,1,1525,1,1525,1525,5.0,6.0,8.0,446,795.0
18,1.0,2015-01-31 04:35:54,2015-01-31 05:47:30,2841,italian,1.0,2,3150,2,1425,1725,4.0,9.0,12.0,446,548.0
20,1.0,2015-01-31 23:45:12,2015-02-01 00:14:05,4139,mexican,1.0,5,1285,3,150,400,12.0,13.0,11.0,446,424.0
23,1.0,2015-02-02 05:27:49,2015-02-02 07:05:09,5058,italian,1.0,7,14900,5,1200,3900,8.0,11.0,11.0,446,901.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197411,1.0,2015-02-02 17:50:23,2015-02-02 18:12:57,2956,fast,4.0,2,1297,2,369,639,5.0,6.0,7.0,251,186.0
197412,1.0,2015-02-10 23:43:08,2015-02-11 00:47:24,2956,fast,4.0,1,674,1,345,345,10.0,11.0,12.0,251,706.0
197418,1.0,2015-01-30 20:50:23,2015-01-30 22:24:38,2956,fast,4.0,2,1528,2,639,729,26.0,29.0,34.0,251,791.0
197422,1.0,2015-01-31 19:48:15,2015-01-31 20:27:39,2956,fast,4.0,7,2445,3,145,585,23.0,24.0,24.0,251,608.0
197425,1.0,2015-01-24 04:46:08,2015-01-24 05:36:16,2956,fast,4.0,5,1836,3,300,399,39.0,41.0,40.0,251,795.0

In [ ]:
subset_issue = df[df["total_busy_dashers"] > df["total_onshift_dashers"]]

:

In [7]:
# Checking instances where min_item_price is less than 0.
df[df["min_item_price"] < 0]

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
790,1.0,2015-01-29 02:59:28,2015-01-29 03:44:09,132,fast,4.0,3,1003,3,-86,1066,24.0,29.0,38.0,251,721.0
1351,2.0,2015-02-06 05:26:55,2015-02-06 06:15:41,6740,fast,4.0,35,1786,4,-1,488,33.0,36.0,52.0,251,587.0
46369,2.0,2015-02-08 23:20:59,2015-02-08 23:50:03,777,fast,4.0,25,1636,5,-35,514,81.0,61.0,72.0,251,469.0
46378,2.0,2015-02-08 06:02:12,2015-02-08 06:32:58,777,fast,4.0,15,1822,4,-48,433,36.0,36.0,43.0,251,339.0
77238,5.0,2015-02-14 22:01:48,2015-02-14 23:15:15,2276,pizza,3.0,1,3099,1,-31,52,22.0,26.0,34.0,251,377.0
91319,3.0,2015-02-15 20:46:57,2015-02-15 21:43:42,707,american,4.0,16,1601,5,-13,194,29.0,17.0,22.0,251,875.0
104173,3.0,2015-01-25 19:18:20,2015-01-25 20:37:08,1950,breakfast,3.0,7,6095,7,-30,1211,18.0,23.0,12.0,251,878.0
119785,1.0,2015-01-24 03:45:37,2015-01-24 04:42:59,2998,fast,4.0,10,1938,8,-9,594,28.0,40.0,46.0,251,551.0
119854,1.0,2015-02-10 03:31:22,2015-02-10 04:02:08,2054,italian,5.0,5,2585,3,-7,1235,49.0,47.0,59.0,251,333.0
165821,2.0,2015-02-02 20:24:15,2015-02-02 20:55:06,86,fast,4.0,18,1646,3,-6,297,49.0,41.0,37.0,251,638.0
170424,5.0,2015-02-02 20:22:39,2015-02-02 21:03:12,2651,fast,4.0,3,951,2,-51,804,21.0,16.0,39.0,251,244.0
182207,6.0,2015-02-01 19:49:43,2015-02-01 20:24:32,1862,fast,4.0,27,2946,7,-13,351,NaN,NaN,NaN,251,264.0
187278,2.0,2015-02-04 16:56:44,2015-02-04 17:34:10,1851,fast,4.0,16,2162,5,-52,397,15.0,13.0,15.0,251,559.0

There are 13 instances where `min_item_price` < 0, unsure if this is meangingful.  I'll move them into their own dataframe to document the anomaly and drop from `df`.

In [8]:
df_min_negative = df[df["min_item_price"] < 0]

In [9]:
df_min_negative.to_csv("negative_min_price.csv", index=False)

In [10]:
# Filtering all instances where min_item_price >= 0 to dataframe.
df = df[df["min_item_price"] >= 0]

`total_onshift_dashers` and `total_busy_dashers` both contain negative values, moving them into separate dataframes for later review.

In [11]:
negative_onshift = df[df["total_onshift_dashers"] < 0]

In [12]:
negative_onshift.to_csv("negative_onshift.csv", index=False)

In [13]:
negative_busy = df[df["total_busy_dashers"] < 0]

In [14]:
negative_busy.to_csv("negative_busy.csv", index=False)

In [15]:
# Keeping instances where both columns are equal or greater than 0.
df = df[df["total_onshift_dashers"] >= 0]
df = df[df["total_busy_dashers"] >= 0]

`total_outstanding_orders` also contains unexplained negative values, moving them to new dataframe for later review and dropping from `df`.

In [16]:
negative_outstanding = df[df["total_outstanding_orders"] < 0]

In [17]:
negative_outstanding.to_csv("negative_outstanding.csv", index=False)

In [18]:
df = df[df["total_outstanding_orders"] >= 0]

In [19]:
df.describe().loc[["min", "max"]]

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
min,1.0,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
max,6.0,6987.0,7.0,411.0,26800.0,20.0,14700.0,14700.0,171.0,154.0,285.0,2715.0,2088.0

In [20]:
# Dropping rows where NaN xists anywhere in df.
df = df.dropna()

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175687 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     175687 non-null  float64
 1   created_at                                    175687 non-null  object
 2   actual_delivery_time                          175687 non-null  object
 3   store_id                                      175687 non-null  int64
 4   store_primary_category                        175687 non-null  object
 5   order_protocol                                175687 non-null  float64
 6   total_items                                   175687 non-null  int64
 7   subtotal                                      175687 non-null  int64
 8   num_distinct_items                            175687 non-null  int64
 9   min_item_price                                175687 non-null  int64
 10  max_item_price                                175687 non-null  int64
 11  total_onshift_dashers                         175687 non-null  float64
 12  total_busy_dashers                            175687 non-null  float64
 13  total_outstanding_orders                      175687 non-null  float64
 14  estimated_order_place_duration                175687 non-null  int64
 15  estimated_store_to_consumer_driving_duration  175687 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 22.8+ MB

### Understanding `df_min_negative`

I created several dataframes to contain the unexplained values within the datset (specific to column) to identify if there is a pattern.  If a pattern is found, this can be communicated to the engineers or manager to fix later.  For example, `df_min_negative` holds all instances where column `min_item_price` contains a negative.  

Probable causes:
- The negative values may represent free items received through promotion or coupon deals, thus negative values being meaningful.
- The restaurant may have accidently inputted the wrong price for their items.
- There may be an error in the collection of this data.

`df_min_negative` also showed that a disproportionate amount of orders in the dataframe are from fast food stores.  I am also unsure if the negative `min_item_price` is accounted for during checkout, would need more info.

Since I am unable to inquire further (this is an individual project and I have no affiliation with Doordash or Stratascratch), instances where `min_item_price` < 0 will stay inside this dataframe and is removed from the original `df`.

In [22]:
df_min_negative

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
790,1.0,2015-01-29 02:59:28,2015-01-29 03:44:09,132,fast,4.0,3,1003,3,-86,1066,24.0,29.0,38.0,251,721.0
1351,2.0,2015-02-06 05:26:55,2015-02-06 06:15:41,6740,fast,4.0,35,1786,4,-1,488,33.0,36.0,52.0,251,587.0
46369,2.0,2015-02-08 23:20:59,2015-02-08 23:50:03,777,fast,4.0,25,1636,5,-35,514,81.0,61.0,72.0,251,469.0
46378,2.0,2015-02-08 06:02:12,2015-02-08 06:32:58,777,fast,4.0,15,1822,4,-48,433,36.0,36.0,43.0,251,339.0
77238,5.0,2015-02-14 22:01:48,2015-02-14 23:15:15,2276,pizza,3.0,1,3099,1,-31,52,22.0,26.0,34.0,251,377.0
91319,3.0,2015-02-15 20:46:57,2015-02-15 21:43:42,707,american,4.0,16,1601,5,-13,194,29.0,17.0,22.0,251,875.0
104173,3.0,2015-01-25 19:18:20,2015-01-25 20:37:08,1950,breakfast,3.0,7,6095,7,-30,1211,18.0,23.0,12.0,251,878.0
119785,1.0,2015-01-24 03:45:37,2015-01-24 04:42:59,2998,fast,4.0,10,1938,8,-9,594,28.0,40.0,46.0,251,551.0
119854,1.0,2015-02-10 03:31:22,2015-02-10 04:02:08,2054,italian,5.0,5,2585,3,-7,1235,49.0,47.0,59.0,251,333.0
165821,2.0,2015-02-02 20:24:15,2015-02-02 20:55:06,86,fast,4.0,18,1646,3,-6,297,49.0,41.0,37.0,251,638.0
170424,5.0,2015-02-02 20:22:39,2015-02-02 21:03:12,2651,fast,4.0,3,951,2,-51,804,21.0,16.0,39.0,251,244.0
182207,6.0,2015-02-01 19:49:43,2015-02-01 20:24:32,1862,fast,4.0,27,2946,7,-13,351,NaN,NaN,NaN,251,264.0
187278,2.0,2015-02-04 16:56:44,2015-02-04 17:34:10,1851,fast,4.0,16,2162,5,-52,397,15.0,13.0,15.0,251,559.0

In [23]:
# Checking distribution of market_id.
df_min_negative.groupby("market_id").size()

market_id
1.0    3
2.0    5
3.0    2
5.0    2
6.0    1
dtype: int64

In [24]:
# Was curious if there were any repeating store_id's, only 1 repeat.
df_min_negative.groupby("store_id").size()

store_id
86      1
132     1
707     1
777     2
1851    1
1862    1
1950    1
2054    1
2276    1
2651    1
2998    1
6740    1
dtype: int64

In [25]:
# Out of 13 instances, 9 of them were from store category "fast".
df_min_negative.groupby("store_primary_category").size()

store_primary_category
american     1
breakfast    1
fast         9
italian      1
pizza        1
dtype: int64

### Understanding `negative_onshift`

There are 21 instances where `total_onshift_dashers` < 0, but I am not sure why a negative value would exist here other than it being an error from the Driver app.  Also, all orders inside this dataframe originated from `market_id` 1 (11 orders) or 3 (10 orders), but `market_id` is left ambiguous in project description to obfuscate business details.

In [26]:
negative_onshift

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
6034,3.0,2015-02-14 01:48:58,2015-02-14 03:00:13,90,american,1.0,2,3538,2,1238,1606,-2.0,2.0,10.0,446,266.0
12888,3.0,2015-01-21 21:02:32,2015-01-21 21:41:03,2649,catering,2.0,1,986,1,892,827,-2.0,5.0,1.0,251,787.0
26395,3.0,2015-02-08 18:28:15,2015-02-08 19:17:31,2772,fast,3.0,2,1327,1,680,615,-1.0,6.0,6.0,251,368.0
30897,3.0,2015-02-07 19:55:46,2015-02-07 20:46:27,793,hawaiian,1.0,1,1202,1,987,1092,-1.0,9.0,5.0,446,773.0
33154,1.0,2015-02-02 22:27:36,2015-02-03 00:08:43,1337,american,1.0,2,2831,2,681,635,-1.0,13.0,16.0,446,394.0
53702,1.0,2015-01-25 02:55:01,2015-01-25 03:41:37,1238,chinese,1.0,2,1803,2,818,1061,-1.0,4.0,7.0,446,381.0
60282,1.0,2015-01-29 02:07:49,2015-01-29 02:48:26,4402,salad,5.0,2,1117,2,339,956,-3.0,0.0,16.0,251,187.0
61131,1.0,2015-02-01 03:42:22,2015-02-01 04:34:18,6379,sushi,5.0,7,2666,7,379,437,-2.0,8.0,5.0,251,486.0
118311,1.0,2015-02-09 03:35:22,2015-02-09 04:36:05,2194,japanese,3.0,2,1862,2,488,1162,-2.0,3.0,3.0,251,603.0
119242,3.0,2015-02-14 04:21:45,2015-02-14 05:40:08,4671,seafood,4.0,4,1874,3,110,1378,-2.0,-1.0,11.0,446,971.0
119246,3.0,2015-02-09 23:09:20,2015-02-09 23:48:48,3693,fast,4.0,3,1980,3,269,768,-2.0,2.0,2.0,251,728.0
127163,3.0,2015-02-10 19:28:01,2015-02-10 20:32:05,2603,sushi,1.0,10,6515,8,154,1219,-2.0,4.0,-4.0,446,607.0
136636,1.0,2015-02-09 22:00:06,2015-02-09 22:48:31,4876,sushi,5.0,3,997,3,390,399,-2.0,6.0,-1.0,251,568.0
137010,1.0,2015-01-21 19:22:03,2015-01-21 20:05:09,3229,breakfast,3.0,8,7469,5,882,1023,-2.0,12.0,22.0,251,654.0
138400,3.0,2015-01-24 20:10:09,2015-01-24 20:42:01,2540,other,3.0,1,1524,1,920,897,-2.0,3.0,-3.0,251,325.0
143740,1.0,2015-01-28 20:21:30,2015-01-28 21:05:07,3039,pizza,3.0,2,3146,2,1053,1721,-1.0,7.0,1.0,251,510.0
175279,3.0,2015-02-03 01:07:10,2015-02-03 02:03:26,5325,chinese,1.0,3,2776,3,358,1227,-2.0,6.0,6.0,446,837.0
179225,1.0,2015-02-11 19:52:36,2015-02-11 20:39:51,5599,chinese,1.0,2,1934,2,1006,1024,-4.0,7.0,3.0,446,669.0
188333,1.0,2015-01-27 04:07:25,2015-01-27 05:16:38,6056,japanese,6.0,2,720,1,515,495,-2.0,1.0,10.0,446,466.0
190628,3.0,2015-02-05 20:16:54,2015-02-05 21:10:23,3326,seafood,4.0,3,2238,3,740,768,-1.0,5.0,10.0,251,738.0
192887,1.0,2015-02-01 04:54:41,2015-02-01 05:37:57,5663,italian,3.0,2,5240,2,2516,2644,-2.0,5.0,6.0,251,172.0

In [27]:
# Only market_id 1 and 3 in this dataframe, will check counts in MySQL.
negative_onshift.groupby("market_id").size()

market_id
1.0    11
3.0    10
dtype: int64

In [28]:
negative_onshift.groupby("store_primary_category").size()

store_primary_category
american     2
breakfast    1
catering     1
chinese      3
fast         2
hawaiian     1
italian      1
japanese     2
other        1
pizza        1
salad        1
seafood      2
sushi        3
dtype: int64

In [29]:
negative_onshift.describe()

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,1.952381,3451.142857,2.857143,3.047619,2559.285714,2.666667,734.047619,1045.428571,-1.857143,5.095238,6.285714,334.571429,547.142857
std,1.023533,1803.545738,1.621287,2.376472,1810.286722,1.879716,517.485022,509.565950,0.727029,3.562369,6.497252,98.883048,220.048923
min,1.000000,90.000000,1.000000,1.000000,720.000000,1.000000,110.000000,399.000000,-4.000000,-1.000000,-4.000000,251.000000,172.000000
25%,1.000000,2540.000000,1.000000,2.000000,1327.000000,2.000000,379.000000,768.000000,-2.000000,3.000000,2.000000,251.000000,381.000000
50%,1.000000,3229.000000,3.000000,2.000000,1934.000000,2.000000,681.000000,1023.000000,-2.000000,5.000000,6.000000,251.000000,568.000000
75%,3.000000,4876.000000,4.000000,3.000000,2831.000000,3.000000,920.000000,1219.000000,-1.000000,7.000000,10.000000,446.000000,728.000000
max,3.000000,6379.000000,6.000000,10.000000,7469.000000,8.000000,2516.000000,2644.000000,-1.000000,13.000000,22.000000,446.000000,971.000000

### Understanding `negative_busy`

Most orders in `negative_busy` originated from `market_id` 1 (13 orders) or 3 (7 orders) with the single exception of an order from 2.  This dataframe has similarities with `negative_onshift`, both dataframes contain 21 instances and most orders originate from `market_id` 1 or 3.

Like `negative_onshift`, I am unsure why a negative value would exist here other than errors originating from the Driver app or the collection of data.

In [30]:
negative_busy

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
7997,1.0,2015-02-08 15:41:45,2015-02-08 16:35:01,6172,sandwich,3.0,1,1514,1,1116,1063,1.0,-1.0,3.0,251,650.0
22673,1.0,2015-02-10 19:35:28,2015-02-10 20:28:51,4906,japanese,1.0,2,1578,2,441,803,0.0,-1.0,9.0,446,735.0
24662,1.0,2015-01-29 05:09:24,2015-01-29 05:41:44,3264,catering,3.0,1,1237,1,984,978,5.0,-1.0,7.0,251,466.0
26627,1.0,2015-02-13 03:18:12,2015-02-13 04:23:16,5266,burger,1.0,6,5773,6,554,1926,10.0,-1.0,6.0,446,552.0
33276,1.0,2015-02-12 00:38:22,2015-02-12 01:04:33,418,steak,1.0,2,6083,2,2907,3199,9.0,-1.0,5.0,446,427.0
47959,3.0,2015-02-07 05:44:49,2015-02-07 06:23:57,1619,indian,3.0,2,1859,2,295,1240,6.0,-1.0,8.0,251,732.0
50842,1.0,2015-01-21 18:46:51,2015-01-21 19:25:30,1916,american,1.0,1,4314,1,4147,4077,9.0,-2.0,-5.0,446,738.0
57384,3.0,2015-02-13 23:26:37,2015-02-14 00:06:14,272,mexican,1.0,2,1540,2,424,1236,6.0,-1.0,3.0,446,380.0
59370,1.0,2015-01-30 19:55:28,2015-01-30 21:14:21,6379,sushi,5.0,5,1900,5,331,305,5.0,-3.0,3.0,251,612.0
59764,1.0,2015-02-17 01:04:53,2015-02-17 01:53:41,44,sandwich,1.0,1,1661,1,1136,1211,2.0,-4.0,12.0,446,153.0
67132,1.0,2015-02-09 01:46:31,2015-02-09 02:40:45,4783,pizza,5.0,2,4342,1,1684,1741,2.0,-1.0,5.0,251,595.0
67149,1.0,2015-01-25 22:33:45,2015-01-25 23:22:07,4783,pizza,5.0,2,3830,2,1093,1890,0.0,-4.0,6.0,251,456.0
86237,1.0,2015-01-24 20:57:36,2015-01-24 21:32:07,6739,fast,4.0,2,1069,2,505,749,11.0,-1.0,11.0,251,555.0
119242,3.0,2015-02-14 04:21:45,2015-02-14 05:40:08,4671,seafood,4.0,4,1874,3,110,1378,-2.0,-1.0,11.0,446,971.0
120296,3.0,2015-02-12 01:28:04,2015-02-12 01:54:24,1265,vietnamese,1.0,1,808,1,721,712,7.0,-5.0,10.0,446,458.0
126816,2.0,2015-02-12 23:50:18,2015-02-13 00:30:49,2919,chinese,2.0,3,1303,3,181,493,9.0,-3.0,4.0,446,612.0
151022,1.0,2015-01-27 01:18:51,2015-01-27 01:59:02,6198,sushi,1.0,5,6151,5,649,1793,15.0,-1.0,8.0,446,447.0
186100,3.0,2015-01-30 04:45:00,2015-01-30 05:25:30,2738,mexican,1.0,5,3364,4,314,874,14.0,-1.0,0.0,446,904.0
188242,1.0,2015-01-25 19:48:35,2015-01-25 20:18:47,6056,japanese,6.0,2,2226,1,1121,1216,0.0,-1.0,7.0,446,256.0
188786,3.0,2015-02-11 14:41:00,2015-02-11 15:37:46,2360,american,1.0,1,1345,1,957,1113,2.0,-2.0,23.0,446,609.0
191717,3.0,2015-02-05 16:41:17,2015-02-05 17:30:26,4834,cafe,1.0,5,2338,4,266,942,8.0,-2.0,8.0,446,213.0

In [31]:
negative_busy.describe()

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
count,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000,21.000000
mean,1.714286,3695.333333,2.428571,2.619048,2671.857143,2.380952,949.333333,1378.047619,5.666667,-1.809524,6.857143,381.000000,548.619048
std,0.956183,2186.865138,1.748469,1.657594,1723.998964,1.564487,967.408669,878.588725,4.809712,1.249762,5.424811,94.193949,207.971266
min,1.000000,44.000000,1.000000,1.000000,808.000000,1.000000,110.000000,305.000000,-2.000000,-5.000000,-5.000000,251.000000,153.000000
25%,1.000000,1916.000000,1.000000,1.000000,1514.000000,1.000000,331.000000,874.000000,2.000000,-2.000000,4.000000,251.000000,447.000000
50%,1.000000,4671.000000,1.000000,2.000000,1874.000000,2.000000,649.000000,1211.000000,6.000000,-1.000000,7.000000,446.000000,555.000000
75%,3.000000,5266.000000,4.000000,4.000000,3830.000000,3.000000,1116.000000,1741.000000,9.000000,-1.000000,9.000000,446.000000,650.000000
max,3.000000,6739.000000,6.000000,6.000000,6151.000000,6.000000,4147.000000,4077.000000,15.000000,-1.000000,23.000000,446.000000,971.000000

In [33]:
# Similar to negative_onshift, market_id 1 and 3 represent majority of orders seen in dataframe.
negative_busy.groupby("market_id").size()

market_id
1.0    13
2.0     1
3.0     7
dtype: int64

### Understanding `negative_outstanding`

`negative_outstanding` also contains a large number of orders from `market_id` 1 and 3 with the exception of six orders from 2, 4, and 5.  Also, there are three NaN values in this dataframe (2 in `store_primary_category` and 1 in `estimated_store_to_consumer_driving_duration`).

In [34]:
negative_outstanding

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
4989,1.0,2015-02-18 00:36:21,2015-02-18 01:12:28,1811,smoothie,2.0,2,1940,1,840,856,11.0,14.0,-2.0,251,460.0
19438,3.0,2015-02-03 03:04:22,2015-02-03 04:21:43,275,fast,4.0,3,1778,2,158,869,7.0,10.0,-2.0,251,743.0
20454,1.0,2015-01-25 21:15:30,2015-01-25 21:51:23,4237,asian,1.0,3,2039,3,393,798,9.0,7.0,-1.0,446,393.0
23029,1.0,2015-02-08 19:49:17,2015-02-08 21:10:48,5572,korean,1.0,2,1641,2,754,1217,5.0,2.0,-1.0,446,537.0
36317,1.0,2015-01-31 17:32:31,2015-01-31 18:04:30,3169,fast,4.0,3,617,2,258,365,6.0,6.0,-6.0,251,217.0
44415,1.0,2015-01-27 01:50:34,2015-01-27 02:23:54,4496,other,1.0,3,2258,2,126,837,24.0,8.0,-2.0,446,317.0
46884,1.0,2015-02-17 02:55:02,2015-02-17 04:41:16,3158,american,4.0,1,1317,1,1058,1042,6.0,7.0,-3.0,251,528.0
56554,3.0,2015-01-23 00:25:58,2015-01-23 01:13:54,1608,pizza,1.0,3,1963,2,562,855,2.0,5.0,-6.0,446,801.0
68176,1.0,2015-02-18 01:50:48,2015-02-18 02:46:53,5104,chinese,5.0,4,3146,4,468,945,2.0,5.0,-3.0,251,964.0
71941,1.0,2015-02-14 06:10:15,2015-02-14 07:04:41,4709,dessert,5.0,2,2117,2,1076,1051,13.0,9.0,-1.0,251,940.0
72838,3.0,2015-02-18 01:39:42,2015-02-18 02:27:46,396,chinese,1.0,5,3952,4,183,1636,4.0,0.0,-6.0,446,157.0
80381,1.0,2015-01-29 17:10:38,2015-01-29 18:03:08,4355,fast,4.0,2,1141,1,490,430,5.0,8.0,-5.0,251,NaN
84500,3.0,2015-02-10 19:30:22,2015-02-10 20:17:54,2473,sandwich,3.0,2,1946,2,763,1053,9.0,10.0,-1.0,251,975.0
85718,3.0,2015-01-28 02:49:03,2015-01-28 03:27:42,4456,burger,1.0,4,2924,3,324,851,5.0,4.0,-6.0,446,518.0
89305,3.0,2015-02-08 21:34:21,2015-02-08 21:59:37,5949,smoothie,5.0,1,1408,1,747,827,13.0,4.0,-5.0,251,136.0
90868,3.0,2015-01-27 15:37:07,2015-01-27 16:24:27,4877,dessert,4.0,4,3388,1,817,903,9.0,8.0,-3.0,251,666.0
93199,3.0,2015-02-15 16:40:06,2015-02-15 17:55:02,1535,american,1.0,5,2967,5,326,1028,14.0,10.0,-3.0,446,567.0
94795,3.0,2015-01-31 03:14:23,2015-01-31 03:53:37,1141,catering,5.0,4,2428,3,117,815,3.0,5.0,-6.0,251,775.0
98238,1.0,2015-01-23 18:47:42,2015-01-23 20:04:18,668,italian,3.0,6,7413,2,948,1399,1.0,0.0,-1.0,251,829.0
103394,1.0,2015-02-12 18:25:26,2015-02-12 19:11:21,4379,american,3.0,2,2114,2,921,1413,15.0,8.0,-1.0,251,458.0
106773,1.0,2015-02-10 03:25:47,2015-02-10 04:01:25,5322,sandwich,4.0,3,1761,2,288,584,8.0,2.0,-4.0,251,217.0
109531,3.0,2015-01-23 22:35:36,2015-01-23 23:09:59,5185,fast,4.0,2,1670,2,458,782,6.0,7.0,-3.0,251,543.0
110358,1.0,2015-01-21 18:36:20,2015-01-21 19:03:24,5654,sandwich,5.0,3,3243,3,914,1038,3.0,9.0,-1.0,251,293.0
110366,3.0,2015-02-04 04:42:44,2015-02-04 05:08:45,3809,burger,1.0,1,1050,1,739,782,9.0,14.0,-2.0,446,859.0
120348,3.0,2015-02-10 17:39:40,2015-02-10 18:12:04,6138,NaN,4.0,2,12,1,1584,1592,5.0,7.0,-5.0,251,537.0
124438,4.0,2015-02-03 23:05:58,2015-02-04 00:13:36,1853,mexican,3.0,3,1543,3,251,727,5.0,12.0,-1.0,251,97.0
126622,3.0,2015-01-24 23:40:30,2015-01-25 01:31:38,325,thai,1.0,4,2382,3,295,1018,4.0,2.0,-3.0,446,885.0
138101,1.0,2015-02-09 17:44:05,2015-02-09 18:11:23,6813,NaN,5.0,3,2337,3,616,820,10.0,5.0,-1.0,251,339.0
139472,5.0,2015-01-27 22:05:37,2015-01-27 22:42:58,4922,sandwich,1.0,2,1904,2,749,942,14.0,11.0,-1.0,446,848.0
142791,1.0,2015-02-09 21:09:37,2015-02-09 22:01:24,1084,korean,1.0,2,2841,2,1030,1729,8.0,7.0,-1.0,446,423.0
142800,1.0,2015-02-15 01:04:51,2015-02-15 01:44:46,1084,korean,1.0,1,2325,1,2361,2433,7.0,9.0,-1.0,446,574.0
148689,1.0,2015-01-22 20:58:45,2015-01-22 22:01:49,2688,smoothie,1.0,9,6642,9,503,1208,2.0,3.0,-4.0,446,580.0
164549,1.0,2015-01-30 01:22:25,2015-01-30 02:57:35,192,vietnamese,1.0,4,3381,3,588,1013,6.0,3.0,-1.0,446,519.0
165897,5.0,2015-01-24 23:50:26,2015-01-25 01:32:32,6370,steak,4.0,3,3115,3,21,2176,13.0,19.0,-5.0,446,923.0
167182,1.0,2015-02-06 22:48:06,2015-02-06 23:45:19,11,burger,1.0,3,1685,3,248,436,8.0,5.0,-3.0,446,584.0
177152,4.0,2015-02-03 05:56:12,2015-02-03 06:31:38,6850,american,1.0,1,1671,1,1467,1525,17.0,5.0,-5.0,446,818.0
177476,3.0,2015-02-14 02:59:10,2015-02-14 04:14:52,4904,italian,1.0,5,4842,4,252,1450,8.0,0.0,-2.0,446,839.0
178086,2.0,2015-02-04 17:37:15,2015-02-04 18:16:06,600,breakfast,1.0,1,1457,1,1156,1355,10.0,11.0,-1.0,446,144.0
180009,1.0,2015-01-22 04:53:28,2015-01-22 06:01:22,1830,sandwich,1.0,3,4364,2,1038,1461,12.0,17.0,-2.0,446,865.0
194290,5.0,2015-02-10 05:21:54,2015-02-10 05:53:53,4024,greek,3.0,2,2692,2,937,1643,14.0,3.0,-1.0,251,496.0

In [35]:
negative_outstanding.describe()

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
count,40.000000,40.000000,40.000000,40.000000,40.00000,40.0000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,39.000000
mean,2.175000,3350.650000,2.550000,2.950000,2485.35000,2.4000,670.600000,1097.600000,8.300000,7.025000,-2.775000,348.500000,573.435897
std,1.318264,2127.206915,1.616422,1.584379,1430.88557,1.4641,466.574247,442.941091,4.815573,4.399811,1.832576,98.742088,259.738917
min,1.000000,11.000000,1.000000,1.000000,12.00000,1.0000,21.000000,365.000000,1.000000,0.000000,-6.000000,251.000000,97.000000
25%,1.000000,1436.500000,1.000000,2.000000,1670.75000,1.7500,293.250000,825.250000,5.000000,4.000000,-4.250000,251.000000,408.000000
50%,1.500000,3916.500000,2.500000,3.000000,2115.50000,2.0000,602.000000,1015.500000,8.000000,7.000000,-2.000000,348.500000,543.000000
75%,3.000000,4967.500000,4.000000,4.000000,3004.00000,3.0000,925.000000,1402.500000,11.250000,9.250000,-1.000000,446.000000,823.500000
max,5.000000,6850.000000,5.000000,9.000000,7413.00000,9.0000,2361.000000,2433.000000,24.000000,19.000000,-1.000000,446.000000,975.000000

In [36]:
# market_id 1 and 3 represent 34/40 orders seen in this dataframe.
negative_outstanding.groupby("market_id").size()

market_id
1.0    20
2.0     1
3.0    14
4.0     2
5.0     3
dtype: int64

In [37]:
negative_outstanding.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40 entries, 4989 to 194290
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   market_id                                     40 non-null     float64
 1   created_at                                    40 non-null     object
 2   actual_delivery_time                          40 non-null     object
 3   store_id                                      40 non-null     int64
 4   store_primary_category                        38 non-null     object
 5   order_protocol                                40 non-null     float64
 6   total_items                                   40 non-null     int64
 7   subtotal                                      40 non-null     int64
 8   num_distinct_items                            40 non-null     int64
 9   min_item_price                                40 non-null     int64
 10  max_item_price                                40 non-null     int64
 11  total_onshift_dashers                         40 non-null     float64
 12  total_busy_dashers                            40 non-null     float64
 13  total_outstanding_orders                      40 non-null     float64
 14  estimated_order_place_duration                40 non-null     int64
 15  estimated_store_to_consumer_driving_duration  39 non-null     float64
dtypes: float64(6), int64(7), object(3)
memory usage: 5.3+ KB

### Understanding `df_nulls`

Before cleaning the dataset by columns, I moved all instances where NaN exists into its own dataframe.  It seems like the biggest contributors of NaN values (16,262) are `total_onshift_dasher`, `totaL_busy_dashers`, and `total_outstanding_orders` - maybe there is an issue within the Driver app where number of on-shift and busy dashers are being collected/reported incorrectly?  The three columns all have the same number of non-null counts, so there is a possibility that `total_outstanding_orders` is experiencing the same issue as the other two columns.

`store_primary_category` has 4,760 NaN values, this can be a simple as restaurants not labeling their store's primary category (unsure if this prevents the merchant from going online) or data for this column isn't being collected/reported correctly.

In [38]:
df_nulls

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197212,1.0,2015-02-12 02:42:13,2015-02-12 03:39:29,2177,NaN,1.0,5,2800,5,300,700,28.0,28.0,21.0,446,800.0
197259,NaN,2015-02-10 01:32:37,2015-02-10 02:02:09,1340,NaN,NaN,1,849,1,849,849,25.0,13.0,20.0,251,1013.0
197363,1.0,2015-02-12 20:44:22,2015-02-12 21:30:44,2956,NaN,NaN,2,690,2,345,345,25.0,28.0,35.0,251,826.0
197416,1.0,2015-01-29 19:39:17,2015-01-29 20:34:21,2956,fast,4.0,1,639,1,639,639,26.0,26.0,37.0,251,NaN
197421,1.0,2015-01-30 03:35:01,2015-01-30 04:42:19,2956,fast,4.0,2,979,2,145,339,NaN,NaN,NaN,251,614.0

In [39]:
df_nulls.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21651 entries, 2 to 197421
Data columns (total 16 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   market_id                                     20664 non-null  float64
 1   created_at                                    21651 non-null  object
 2   actual_delivery_time                          21644 non-null  object
 3   store_id                                      21651 non-null  int64
 4   store_primary_category                        16891 non-null  object
 5   order_protocol                                20656 non-null  float64
 6   total_items                                   21651 non-null  int64
 7   subtotal                                      21651 non-null  int64
 8   num_distinct_items                            21651 non-null  int64
 9   min_item_price                                21651 non-null  int64
 10  max_item_price                                21651 non-null  int64
 11  total_onshift_dashers                         5389 non-null   float64
 12  total_busy_dashers                            5389 non-null   float64
 13  total_outstanding_orders                      5389 non-null   float64
 14  estimated_order_place_duration                21651 non-null  int64
 15  estimated_store_to_consumer_driving_duration  21125 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 2.8+ MB

In [40]:
len(df_nulls)

21651

In [41]:
df_nulls.describe()

,market_id,store_id,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
count,20664.000000,21651.000000,20656.000000,21651.000000,21651.000000,21651.000000,21651.000000,21651.000000,5389.000000,5389.000000,5389.000000,21651.000000,21125.000000
mean,4.977545,3321.135929,2.632165,3.126692,2562.339753,2.636137,696.391437,1154.961110,41.201522,37.772314,52.177213,314.584823,539.382059
std,1.603358,2021.299214,1.396874,2.603794,1773.623379,1.666564,539.125871,538.375661,33.741443,31.137348,50.002538,92.660393,224.484010
min,1.000000,4.000000,1.000000,1.000000,0.000000,1.000000,-13.000000,75.000000,0.000000,0.000000,-5.000000,0.000000,11.000000
25%,4.000000,1534.000000,1.000000,2.000000,1390.000000,1.000000,299.000000,850.000000,14.000000,12.000000,14.000000,251.000000,371.000000
50%,6.000000,3281.000000,3.000000,2.000000,2100.000000,2.000000,595.000000,1095.000000,32.000000,29.000000,35.000000,251.000000,538.000000
75%,6.000000,5045.000000,3.000000,4.000000,3187.000000,3.000000,995.000000,1395.000000,61.000000,57.000000,76.000000,446.000000,696.000000
max,6.000000,6984.000000,6.000000,84.000000,27100.000000,19.000000,7999.000000,7999.000000,155.000000,153.000000,274.000000,1740.000000,1453.000000